* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
body{
    background-color:  ivory;
}
html{
    font-family: 'Raleway';
}
h1{
    font-family: 'Raleway';
    text-align: 'center';
    font-size: 30px;
    padding:2%;
}
.question .class .quizMessage{
    font-size: 20px;
}

.result{
    font-size: 35px;
}

 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    }
    li a{
     display: block;
     float:left;
     padding:2%;
     text-decoration: none;
     color:#ff1a1a;
    }
    li a:hover{
    
    text-decoration: none;
    background-color: #ff1a1a;
    color:white;
    transition: background-color .6s ease-in-out;
    }

button{
    width:25%;
    padding:3%;
    background-color: ivory;
    border:1px solid black;
    font-family: 'Raleway';
}
button:focus{
    border:none;
}
button:hover{
    transition: background-color .6s ease-in-out;
    text-decoration: none;
    background-color: #ff1a1a;
    color:white;
    font-family: 'Raleway';
    border:none;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    h1{
        font-size: 35px;
    }

     ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    }
    li a{
     display: block;
     float:right;
     padding:2%;
     text-decoration: none;
     color:#ff1a1a;
    }
    li a:hover{
     color:white;
     transition: background-color .6s ease-in-out;

    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    h1{
        font-size: 50px;
    }
    ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    }
    li a{
     display: block;
     float:right;
     padding:2%;
     text-decoration: none;
     color:#ff1a1a;
    }
    li a:hover{
     color:white;
     transition: background-color .6s ease-in-out;

    }


    
}